@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-color: #ffffff;
  /* --foreground: #171717; */
}

[data-theme="dark"] {
  --my-color: #000;
}
[data-theme="light"] {
  --my-color: #ffffff;
}
